*{
   margin: 0;
   padding: 0;
}
#logo{
   padding-left: 0;
   height: 23%;
   width: 23%;
   margin-top: 20px;
   padding-left: 20px;
}
#navbar{
   display: flex;
align-items: center;
position: relative;
}
#content{
   margin-top: 50px;
   text-align: center;
   font-size: 250%;
   color: gray;
}